<div class="item-list-block">
	<div class="item-list-header">
		<span class="dxr-h2"> {{#if resultsLabel}} {{resultsLabel}} {{else}} Results {{/if}} </span>
		{{#if pagingInfo}} 
			{{paging-component pagingInfo=pagingInfo 
				nextPage=pagingInfo.nextPage 
				prevPage=pagingInfo.prevPage
			}}
		{{/if}}	
	</div>

	<div class="item-list">	
		{{#each items as |item|}}

			{{#if hasBlock}}	
				{{item.title}} 	
			  	{{yield item}}
			{{else}}
			    <section class="item">
			      <span class="title">
			      	{{#if item.link}} 
			      		{{#link-to item.link item.id}} 
			      			{{item.title}} 
			      		{{/link-to}}
			      	{{else}} 
			      		{{item.title}}
			      	{{/if}}
			      </span>
			      <p>{{item.description}}</p>
			    </section>
			{{/if}}
		{{/each}}	
	</div>
</div>