<div class="paging-info">
	<span class="page-indexes"> 

		{{#if pagingInfo.numResults}}
			Showing Results: {{helper-plus1 pagingInfo.startIndex}} to {{helper-plus1 pagingInfo.endIndex}} &nbsp;  of  &nbsp; {{pagingInfo.numResults}} 
		{{else}}
			No Results.
		{{/if}}
		
	</span>
	<span class="page-num">  	
		{{button-component text="prev" 
			isEnabled=pagingInfo.prevEnabled 
			action="prevPage"}}

		Page: {{helper-plus1 pagingInfo.pageNum}} 

		{{button-component text="next" 
			isEnabled=pagingInfo.nextEnabled 
			action="nextPage"
		}}

	</span>		
</div>	