<div class="centered">
	<h4>Please login</h4>

	  Need an account? You may 
	  {{#link-to 'authentication.create-user'}} Create User  {{/link-to}}	  

	<br>
	<br>

	{{#if message}}
		{{#if isError}}
	  		<div class="alert alert-danger">{{{message}}}</div>
		{{else}}
			<div class="alert alert-success">{{{message}}}</div>
		{{/if}}
	{{/if}}

	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3"> Username: </div>  
			<div class="col-md-6"> {{input name="username" value=username}} </div>
		</div>
		<div class="row">
			<div class="col-md-3"> Password: </div>  
			<div class="col-md-6"> {{input name="password" value=password type="password"}} </div>
		</div>
	</div>
	<br>
	<p>
	  <button {{action "login"}}>Submit</button>
	  <button {{action "cancel"}}>Cancel</button>
	</p>

	<p>
	  <small>
	    Forgot your password? 
	    <code>Sorry. Recovery not yet supported!</code>
	  </small>
	</p>

</div>