<div class="main-container">
    
    <div class="left-panel {{if isExpanded "" "side-lined"}}"> 
        LEFT
    </div>
    <div class="content-panel">
        <span class="margin-10"> MAIN PANEL </span> <br>
        <button {{action 'toggle'}}>Show {{#if isExpanded}} Less {{else}} More {{/if}}</button>
        <button {{action 'getDecoratedText'}}> Get Decorated Text </button>
        <button {{action 'testFuture'}}> Test Pulling Future </button>
        <div class="margin-10"> 
            {{{decoratedText}}}
        </div>
    </div>
    <div class="right-panel {{if isExpanded "" "side-lined"}}">     
        RIGHT
    </div>
</div>
